<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f683b8f07c.js" crossorigin="anonymous"></script>
</head>
<body id="t01">
    <section class="jumbotron text-center" style="border-top-style: dashed; border-bottom-style: dashed; border-color: #17a2b87d;">
        <div class="container">
            <h3 class="jumbotron-heading">
                My car database
                <asp:TextBox ID="TextBoxUsername" runat="server" BorderStyle="None" Height="35px" Width="202px"></asp:TextBox>
            </h3>
            <p class="lead text-muted">{{message}} </p>
            <p>
                {{fastest_car}}
            </p>
        </div>
    </section>
    
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">               
                {% for row in all_cars %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{path}}/{{row[5]}}.png" alt="Card image cap" />
                        <div class="card-body">
                            <h2 class="card-text">{{row[1]}}</h2>
                            <p class="card-text">
                                Model: {{row[2]}}, can hit the max speed of {{row[3]}}. The car is from {{row[4]}}<br />
                                <small class="text-muted">ID: {{row[0]}}</small>
                            </p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">

                                </div>
                                <form action="/" method="post">
                                    <div class="text-left">
                                        <p style="display:none;"><input name="id" type="text" width="60" value="{{row[0]}}" /></p>
                                        <input class="btn btn-danger" style="text-align: left" type="submit" name="myAction" value="Delete" />
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <br />
    <form id="myForm" action="/" method="post">
        <h3 style="text-align:center;">Insert new car in the database</h3><br /><br />
        <div class="form-row" style="text-align: center;">
            <div class="form-group col-md-6">
                <label>Insert id</label><br />
                <input name="id" type="text" width="60" />
            </div>
            <div class="form-group col-md-6">
                <label>Insert car name:</label><br />
                <input name="manufactures" type="text" width="60" />
            </div>
            <div class="form-group col-md-6">
                <label>Insert car model</label><br />
                <input name="model" type="text" width="60" />
            </div>
            <div class="form-group col-md-6">
                <label>Insert car max speed</label><br />
                <input name="speed" type="text" width="60" />
            </div>
            <div class="form-group col-md-6">
                <label>Insert car year</label><br />
                <input name="year" type="text" width="60" />
            </div>
            <div class="form-group col-md-6">
                <label>Insert car image</label><br />
                <input name="image" type="text" width="60" />
            </div><br /><br />
            <div class="form-group col-md-12" style="padding-top: 25px;">
                <input class="btn btn-info" type="submit" name="myAction" value="Create" />
                <input class="btn btn-warning" type="submit" name="myAction" value="Update" />
            </div>
        </div>
        
    </form>
</body>
</html>